{% extends "base.html" %}{% block container
%}
<main class="form-signin row text-center d-flex align-items-center p-2">
  <section class="py-5 text-center container">
      <form method="POST">
        <h1 class="h3 mb-3 fw-normal">Logowanie</h1>
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            ip="email"
            name="email"
            placeholder="Enter email"
          />
          <label for="email">Adres e-mail</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            ip="password"
            name="password"
            placeholder="Enter password"
          />
          <label for="password">Hasło</label>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Zaloguj się</button>
      </form>      
</section>
</main>
{% endblock %}
