{% extends "base.html" %}{% block container
%}

<main class="form-signin row text-center d-flex align-items-center p-2">
  <section class="py-5 text-center container">
    <form method="POST">
      
      <h1 class="h3 mb-3 fw-normal">Zapraszamy do rejestracji</h1>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" ip="email" name="email" placeholder="name@example.com">
        <label for="email">Adres e-mail</label>
      </div>
      <div class="form-floating mb-3">
        <input type="name" class="form-control" ip="name" name="name" placeholder="Nazwa konta">
        <label for="name">Nazwa konta</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" ip="password1" name="password1" placeholder="Enter password">
        <label for="password1">Hasło</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" ip="password2" name="password2" placeholder="Confirm password">
        <label for="password2">Potwierdź hasło</label>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Zarejestruj</button>
    </form>
</section>
</main>
{% endblock %}
